<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="common/layout :: common_header(~{::title},~{::link})">
<title>请假管理</title>
</head>
<body>
	<div class="main-container">
		<div class="main-content-inner">
			<div class="page-content">
			<div class="row">
					<div class="col-sm-12">
						<div class="pull-left">
							<button class="btn btn-success btn-sm" data-toggle="tooltip"
								data-placement="left" onclick="add()" title="添加">
								<i class="fa fa-plus"></i> 新建请假流程
							</button>

						</div>
						<div class="pull-right"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<table id="mytable"  data-toggle="table" data-side-pagination="server" 
						data-striped="true"  data-pagination-loop="false"
               			data-page-number="1" data-data-field="list" data-total-field="totalRow"
               			data-content-type="application/x-www-form-urlencoded" data-click-to-select="false"
               			data-pagination="true" data-method="post"  th:data-url="@{/oa/leave/myLeave}"  >
               			<thead>
										<tr>
											<th   data-field="id"   > 工单ID</th>
											<th class="center" data-field="leaveType">分类</th>
											<th data-field="title">标题</th>
											<th data-field="startTime">开始时间</th>
											<th data-field="endTime">结束时间</th>
											<th class="hidden-480" data-field="timeUsed">请假时长</th>
											<th data-field="applyTime"><i
												class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
												申请时间</th>
											<th data-field="status" >状态</th> 
											 <th data-field="id" data-formatter="optFormatter">操作</th>  
										</tr>
									</thead>
						</table>
					</div>
				</div>
				<!-- /.col -->
			</div>

		</div>
		<!-- end main container -->
	</div>

	<div th:replace="common/commonJS"></div>
	<script type="text/javascript">
	 function add(){
	     	jp.openWindow("新增"+'请假流程',ctx+"oa/leave/new","800px", "520px");
	     }
	</script>
</body>
</html>